.Container {
  position: relative;
  cursor: pointer;
  background: none;
  border: none;
  outline: 1px solid transparent;
  animation: appear .3s ease-in;
}

.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Container span {
  margin-top: 8px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(224, 36, 94);
}

.Icon {
  height: 40px;
  fill: rgb(224, 36, 94);
  transition: all 0.3s;
}

.Icon:hover {
  filter: drop-shadow(0 0 20px rgb(224, 36, 94));
  animation: hover 1s infinite;
}

.Container[animate="1"] .Icon {
  animation: clicked 0.3s ease-in;
}

.Container span::before {
  display: none;
  position: absolute;
  content: "+1";
  font-size: 14px;
  bottom: 30px;
  color: rgb(224, 36, 94);
}

.Container[animate="1"] span::before {
  display: block;
  right: -20px;
  content: "+1";
  animation: increase .5s ease-in;
}

.Container[animate="2"] span::before {
  display: block;
  right: -34px;
  content: "MAX";
  animation: maximum .5s ease-in;
}

@keyframes increase {
  50% {
    opacity: 100%;
  }
  100% {
    bottom: 100px;
    opacity: 0%;
  }
}

@keyframes maximum {
  50% {
    opacity: 100%;
  }
  100% {
    bottom: 60px;
    opacity: 0%;
  }
}

@keyframes appear {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes hover {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(10deg);
  }
  66% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes clicked {
  0% {
    transform: scale(0.2);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
