.Container {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 48px calc((100vw - 900px) / 2) 0;
  height: 480px;
}

.WaveWrapper {
  bottom: -10px;
  left: 0;
  width: 100%;
  position: absolute;
}

@media (max-width: 1200px) {
  .Container {
    height: 360px;
  }
}

@media (max-width: 1120px) {
  .Container {
    padding: 48px calc((100vw - 720px) / 2) 0;
  }
}

@media (max-width: 950px) {
  .Container {
    height: 260px;
    padding: 48px calc((100vw - 540px) / 2) 0;
  }
}

@media (max-width: 750px) {
  .Container {
    height: 180px;
    padding: 48px calc((100vw - 420px) / 2) 0;
  }
}

@media (max-width: 480px) {
  .Container {
    padding: 48px calc((100vw - 320px) / 2) 0;
  }
}
