.Container {
  flex-direction: column;
  height: 640px;
  flex: 0 calc(50% - 26px);
  width: calc(50% - 26px);
}

.Container:nth-child(odd) {
  margin: 0 26px 52px 0;
}

.Container:nth-child(even) {
  margin: 0 0 52px 26px;
}

.Container {
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.16);
  display: flex;
  background-color: white;
}
.LeftPart img {
  width: 100%;
  object-fit: cover;
  height: 260px;
  border-radius: 20px 20px 0 0;
}

.RightPart {
  height: calc(100% - 80px);
  width: calc(100% - 80px);
  position: relative;
  padding: 40px;
  object-fit: contain;
}

.RightPart h2 a {
  color: #eb3349;
  margin: 0;
  text-decoration: none;
}

.RightPart h2 {
  margin: 0;
  font-size: 28px;
}

.RightPart p {
  margin: 32px 0 0;
  font-size: 18px;
  text-align: justify;
}

.TimeRead {
  color: #73889f;
  font-size: 18px;
  position: absolute;
  right: 40px;
  bottom: 40px;
}

@media (max-width: 1600px) {
  .RightPart h2 {
    font-size: 22px;
  }

  .RightPart p {
    margin: 26px 0 0;
    font-size: 16px;
  }
}

@media (max-width: 950px) {
  .Container .RightPart h2 {
    font-size: 20px;
  }

  .Container {
    height: 100%;
    flex: 0 calc(50% - 16px);
    width: calc(50% - 16px);
  }

  .Container:nth-child(odd) {
    margin: 0 16px 32px 0;
  }

  .Container:nth-child(even) {
    margin: 0 0 32px 16px;
  }

  .Container .LeftPart img {
    height: 160px;
  }

  .Container .TimeRead {
    display: none;
  }

  .Container .RightPart {
    width: calc(100% - 40px);
    padding: 20px;
  }

  .TimeRead {
    right: 20px;
    bottom: 20px;
  }

  .Container p {
    display: none;
  }
}

@media (max-width: 750px) {
  .TimeRead {
    font-size: 18px;
  }

  .Container {
    flex-direction: row;
    flex: 0 100%;
    width: 100%;
  }

  .Container .LeftPart img {
    height: 100%;
    width: 120px;
    width: 120px;
    border-radius: 20px 0 0 20px;
  }

  .Container:nth-child(odd) {
    margin: 0 0 32px 0;
  }

  .Container:nth-child(even) {
    margin: 0 0 32px 0;
  }

  .Container .RightPart h2 {
    font-size: 20px;
  }
}
