.Container {
  color: var(--black-text);
}

.Data {
  display: flex;
  align-items: center;
  font-size: 28px;
}

.TimeRead {
  color: var(--grey-text);
}

.Social {
  display: flex;
  margin-left: 8px;
}

.Social a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Social img {
  height: 36px;
}

.Content {
  padding: 0 calc((100vw - 720px) / 2) 0;
}

.ArticleBody img {
  width: 100%;
  margin-block-start: 1em;
  margin-block-end: 1em;
  color: var(--grey-text);
  font-size: 14px;
}

.ArticleBody img::after {
  content: attr(alt);
}

.ArticleBody a {
  text-decoration: none;
}

.Content h1 {
  font-size: 52px;
  line-height: 64px;
  margin: 0 0 12px;
}

.Content h2 {
  font-size: 32px;
  margin: 1em 0 -1em 0;
}

.Content p {
  font-size: 20px;
  line-height: 32px;
  margin: 2em 0 -0.46em 0;
}

.Content blockquote h1 {
  margin: 2.75em 0 2.25em;
  font-size: 30px;
  color: var(--grey-text);
  font-weight: 400;
  font-style: italic;
}

.Content h6 {
  font-size: 16px;
  color: var(--grey-text);
  width: 100%;
  text-align: center;
  font-weight: 400;
  margin-top: -0.4em;
}

.Content h6 a {
  color: var(--grey-text);
  text-decoration: underline;
}

.Content ul {
  margin: 2em 0 -0.46em 0;
}

.Content li {
  font-size: 21px;
  line-height: 32px;
}

.Content li:not(first-child) {
  margin-top: 1.05em;
}

.ArticleBody li::marker {
  display: none;
}

.Content hr {
  font-family: serif;
  font-weight: 700;
  font-size: 22px;
  margin: 42px 0;
  border: none;
  color: var(--grey-text);
  letter-spacing: 1em;
  text-align: center;
}

.Content hr:before {
  content: "...";
}

.Content a {
  color: var(--primary-color);
}

.ArticleBody {
  margin: 64px 0;
}

.ArticleBody pre {
  margin-top: 2em;
  background-color: #f2f2f2;
  padding: 20px;
  font-size: 18px;
  overflow: auto;
  font-family: "Nunito Sans", sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
}

.ArticleBody code {
  padding: 0 4px;
  background-color: #f2f2f2;
  font-family: "Nunito Sans", sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
}

.Share {
  font-size: 22px;
  font-weight: 700;
  color: var(--black-text);
  display: flex;
  align-items: center;
}

@media (max-width: 1100px) {
  .Social img {
    height: 28px;
  }

  .Data {
    font-size: 22px;
  }

  .Content h1 {
    font-size: 48px;
    line-height: normal;
    margin: 20px 0 8px;
  }

  .ArticleBody {
    margin: 48px 0;
  }

  .Content p,
  .Content li {
    font-size: 18px;
  }
}

@media (max-width: 800px) {
  .Content {
    padding: 0 calc((100vw - 520px) / 2) 0;
  }

  .Social img {
    height: 26px;
    margin-right: 2px;
  }

  .Data {
    font-size: 20px;
  }

  .Content h1 {
    font-size: 36px;
  }

  .Content h2 {
    font-size: 26px;
  }

  .ArticleBody {
    margin: 36px 0;
  }

  .Content p,
  .Content li {
    line-height: 30px;
  }
  .ArticleBody pre {
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  .Content {
    padding: 0 calc((100vw - 320px) / 2) 0;
  }

  .Social {
    margin-left: 6px;
  }

  .Social img {
    height: 24px;
  }

  .Data {
    font-size: 18px;
  }

  .Content h1 {
    font-size: 26px;
  }

  .Content h2 {
    font-size: 22px;
  }

  .ArticleBody {
    margin: 32px 0;
  }

  .Content blockquote h1 {
    margin: 2.75em 0 2.25em;
    font-size: 22px;
    color: var(--grey-text);
    font-weight: 400;
    font-style: italic;
  }

  .Content p,
  .Content li {
    font-size: 16px;
    line-height: 26px;
  }

  .ArticleBody pre {
    font-size: 14px;
  }

  .Share {
    font-size: 18px;
  }
}
