.Container {
  display: flex;
  margin-bottom: 52px;
}

.Container a {
  text-decoration: none;
}

.LeftPart img {
  width: 180px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.16);
  object-fit: cover;
  height: 180px;
  border-radius: 20px;
}

.RightPart {
  margin-left: 32px;
  position: relative;
  object-fit: contain;
}

.RightPart h2 a {
  color: #222222;
  margin: 0;
  text-decoration: none;
}

.RightPart h2 {
  margin: 8px 0 0;
  font-size: 24px;
}

.RightPart p {
  width: 640px;
  margin: 8px 0;
  color: #888888;
  font-size: 18px;
}

.TimeRead {
  color: #888888;
  font-size: 18px;
  position: absolute;
  left: 0px;
  bottom: 18px;
}

@media (max-width: 1116px) {
  .RightPart p {
    width: 100%;
    font-size: 16px;
  }

  .RightPart h2 {
    margin: 0;
    font-size: 22px;
  }
}

@media (max-width: 950px) {
  .Container {
    margin-bottom: 32px;
  }

  .Container .RightPart h2 {
    font-size: 20px;
  }

  .Container .LeftPart img {
    height: 160px;
    width: 160px;
  }

  .Container .RightPart {
    width: calc(100% - 40px);
  }

  .TimeRead {
    display: none;
  }

  .Container p {
    text-align: justify;
  }
}

@media (max-width: 750px) {
  .TimeRead {
    display: inline;
    font-size: 18px;
  }

  .Container {
    flex-direction: row;
    flex: 0 100%;
    width: 100%;
  }

  .Container .LeftPart img {
    height: 120px;
    width: 120px;
  }

  .Container .RightPart h2 {
    font-size: 20px;
  }

  .Container p {
    display: none;
  }
}

@media (max-width: 480px) {
  .Container {
    align-items: center;
  }

  .TimeRead {
    display: none;
  }

  .Container .RightPart h2 {
    font-size: 18px;
  }
}
