.Container {
  height: 40px;
}

.Container svg {
  width: 40px;
  cursor: pointer;
  fill: var(--color-text-primary);
  transition: all 0.3s;
}

.Container svg:hover {
  filter: drop-shadow(0 0 20px var(--color-text-primary));
  animation: hover 1s infinite;
}

.Container svg[toggle='OUT'] {
  animation: out ease .8s;
}

.Container svg[toggle='IN'] {
  animation: in ease .8s;
}

@media (max-width: 800px) {
  .Container {
    height: 26px;
  }

  .Container svg {
    width: 26px;
  }
}

@media (max-width: 600px) {
  .Container {
    height: 24px;
  }

  .Container svg {
    width: 24px;
  }
}

@keyframes hover {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(10deg);
  }
  66% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes out {
  0% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(1.2) rotate(90deg);
  }
  100% {
    transform: scale(0) rotate(360deg);
  }
}

@keyframes in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

