.ArticlesWrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -420px;
}

.Container {
  display: flex;
  align-items: center;
  position: relative;
  top: -420px;
  display: flex;
  flex-direction: column;
}

.ArticlesWrapper,
.HotArticleWrapper {
  width: 1260px;
}

@media (max-width: 1600px) {
  .ArticlesWrapper,
  .HotArticleWrapper {
    width: 900px;
  }
}

@media (max-width: 1200px) {
  .Container {
    top: -360px;
  }

  .ArticlesWrapper {
    margin-bottom: -360px;
  }
}

@media (max-width: 1120px) {
  .ArticlesWrapper,
  .HotArticleWrapper {
    width: 720px;
  }
}

@media (max-width: 950px) {
  .ArticlesWrapper,
  .HotArticleWrapper {
    width: 540px;
  }

  .Container {
    top: -300px;
  }

  .ArticlesWrapper {
    margin-bottom: -300px;
  }
}

@media (max-width: 750px) {
  .ArticlesWrapper,
  .HotArticleWrapper {
    width: 420px;
  }
}

@media (max-width: 480px) {
  .ArticlesWrapper,
  .HotArticleWrapper {
    width: 320px;
  }

  .Container {
    top: -220px;
  }

  .ArticlesWrapper {
    margin-bottom: -220px;
  }
}
