.Container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0 100px;
}

.Reverse {
  flex-direction: row-reverse;
}

.ImageBlock {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  margin: 0 20px 0 0;
}

.Reverse .ImageBlock {
  flex-direction: row;
  margin: 0 0 0 20px;
}

.ImageBlock img {
  z-index: 1;
  width: 400px;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.16);
}

.ImageBlock svg {
  position: absolute;
  z-index: 0;
}

.DescriptionBlock {
  max-width: 600px;
  color: #73889f;
  padding: 0 20px 0 50px;
}

.LinksWrapper {
  margin-top: 30px;
}

.LinksWrapper a {
  color: #eb3349;
  text-decoration: none;
  margin-right: 15px;
  font-weight: bold;
}

.DescriptionBlock h3 {
  color: #0e131b;
  font-size: 28px;
  margin: 0 0 5px;
}

.Text {
  margin-top: 30px;
}

.Text p {
  font-size: 16px;
  line-height: 25px;
}

.Text a {
  text-decoration: none;
  font-weight: bold;
  color: #eb3349;
}

@media (min-width: 600px) {
  .DescriptionBlock {
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .Container {
    flex-direction: column-reverse;
    margin: 25px auto 50px;
  }

  .DescriptionBlock {
    padding: 0;
  }

  .LinksWrapper a {
    margin-right: 15px;
    margin-left: 0;
  }

  .ImageBlock {
    margin: 80px 0;
    width: 100%;
  }

  .Reverse .ImageBlock {
    margin: 80px 0;
  }
}

@media (max-width: 600px) {
  .Text p {
    font-size: 14px;
  }

  .DescriptionBlock {
    max-width: 300px;
  }

  .ImageBlock img {
    width: 250px;
  }

  .ImageBlock svg {
    width: 100%;
  }
}
